<aside class="sidebar">
  <div *ngIf="isError" class="alert alert-danger" role="alert">
    Cannot connect to camera server
  </div>
  <div class="sidebar__status">
    Camera status
    <span *ngIf="!isConnected" class="badge badge-secondary">Disconnected</span>
    <span *ngIf="isConnected" class="badge badge-success">Connected</span>
  </div>
  <div class="sidebar__iso-range">
    <div class="form-group">
      <app-iso-range></app-iso-range>
    </div>
  </div>
  <div class="sidebar__fps">
    <app-fps-meter></app-fps-meter>
  </div>
  <div class="sidebar__save">
    <a
      (click)="saveScreen()"
      title="Screen"
      download="screen.png"
      [class.disabled]="!isConnected"
      class="btn btn-info sidebar__btn">
      Capture Screen
    </a>
  </div>
</aside>
