.sidebar {
  &__status {
    margin-bottom: 10px;
  }
  &__save {
    color: white;
  }
  &__btn {
    cursor: pointer;
  }
  &__range {
    cursor: pointer;
  }
  &__iso-range {
    margin-bottom: 15px;
  }
  &__fps {
    margin-bottom: 15px;
  }
}
