<aside class="sidebar">
  <div
    *ngIf="isError"
    class="alert alert-danger"
    role="alert"
    [ngSwitch]="errorReason">
    <ng-container *ngSwitchCase="'503'">
      Server 503. Service Temporarily Unavailable
    </ng-container>
    <ng-container *ngSwitchDefault>
      Cannot connect to camera server. Reason: {{errorReason}}
      <a [href]="this.cameraServerAddr" target="_blank">Check ssh</a>
      or edit address
    </ng-container>
  </div>
  <div class="input-group mb-3">
  <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Server</span>
    </div>
    <input type="text" class="form-control"
      placeholder="Camera address"
      aria-label="Camera address"
      [(ngModel)]="addressInput"
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <button
        (click)="onAddressUpdate()"
        class="btn btn-outline-secondary" type="button" id="button-addon2"
      >
        Update
      </button>
    </div>
  </div>
  <div class="sidebar__status">
    Camera status
    <span *ngIf="!isConnected" class="badge badge-secondary">Disconnected</span>
    <span *ngIf="isConnected" class="badge badge-success">Connected</span>
  </div>
  <div class="sidebar__server-name">
    Server Name
    <span class="badge badge-secondary">{{serverName}}</span>
  </div>
  <div class="sidebar__iso-range">
    <div class="form-group">
      <app-iso-range></app-iso-range>
    </div>
  </div>
  <div class="sidebar__fps">
    <app-fps-meter></app-fps-meter>
  </div>
  <div class="sidebar__save">
    <a
      (click)="saveScreen($event)"
      title="Screen"
      download="screen.png"
      [class.disabled]="!isConnected"
      class="btn btn-info sidebar__btn">
      Capture Screen
    </a>
  </div>
</aside>
